.wrapper {
   width: 900px;
   margin: auto;
}

header {
   margin: 10px;
   padding: 10px;
   border: 2px solid black;
}

.flex1 {
   display:flex;
   justify-content: space-between;
}

.flex1.1 {
   display:flex;
   justify-content: space-between;
   flex-direction: column;
}
   

footer {
   margin: 10px;
   padding: 10px;
   border: 2px solid black;
}

.image {
   margin: 10px;
   padding: 10px;
   border: 2px solid black;
}

article {
   margin: 10px;
   padding: 10px;
   border: 2px solid black;
}

.zijbalk {
   margin: 10px;
   padding: 10px;
   border: 2px solid black;
   float: left;
}
