* {
   margin: 0;
}

body { 
   baksground-color: lightgrey
}

.wrapper {
  width: 300px;
  margin: auto;
}

.hoofdcontainer{
   display: flex;
   }

h1 {
   text-align: center;
}

h3 {
   text-align: center;
}

.legoshare {
  width: max;
  margin: auto;
  border: 2px solid black;
  padding: 10px auto;
  display: flex; 
  justify-content: center;
}

.image1 {
   display: flex;
   justify-content: center;
   border: 2px solid black;
   text-align: center;
   padding: 20px auto 20px auto;
}

.snelle ideeën {
   margin: 15px auto 5px auto;
}

.imgae2{  
   display: flex;
   justify-content: center;
   border: 2px solid black;
   text-align: center;
}

.verwijzing {
  border: 2px 2px 2px 2px solid black;
  display: flexbox;
  justify-content: flex-end;
}
