* {
   margin: 0;
}

.wrapper {
  width: 600px;
  margin: auto;
}

h1 {
   text-align: center;
}

h3 {
   text-align: center;
}

.legoshare {
  width: max;
  margin: auto;
  border: 2px solid black;
  padding: 10px auto;
  display: flex; 
  justify-content: center;
}

.verwijzing {
  border: 2px 2px 2px 2px solid black;
  display: flexbox;
  justify-content: flex-end;
}
